@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700|Open+Sans:300,400,600,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

.container{
    width: 1100px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.logo{
    max-width: 30%;
    flex-basis: 30%;
}
.logo a{
    font-family: 'monserat', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    color: #28377e;
}
img{
    max-width: 100%;
    flex-basis: 100%;
    max-height: 100%;
    display: block;
}

header{
    padding: 33px 0;
}
header .row{
    align-items: center;
}
nav{
    max-width: 70%;
    flex-basis: 70%;}
nav ul{
    justify-content: flex-end;
}
nav ul li{}
nav ul li a{
    color: #204f87;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    padding: 0 14px;
}
nav ul li a:hover{}


.banner_section{
    position: relative;
}
.banner_left{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}.godown{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
    font-size: 20px;
    color: #fff;
    animation-name: godown;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
    @keyframes godown{
    0%{
        bottom: 50px;
    }
    50%{
        bottom: 25px;
    }
    100%{
        bottom: 50px;
    }

}

.banner-content{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 800px;
    flex-basis: 800px;
    transform: translate(-50%, -50%);
    text-align: center;
}
.banner-content h1{
    font-size: 65px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
}

.whoweare-section .row{
    justify-content: space-between;
}
.whoweare-section{
    padding: 120px 0 200px;
}
.whoweare-content{
    max-width: 55%;
    flex-basis: 55%;
}
.heading{/* text-align: center; */margin-bottom: 70px;}
.heading h1{
    color: #204f87;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 20px;
    margin-top: 15px;
}
.heading span{
    width: 60px;
    height: 4px;
    background: #f2622c;
    display: block;
}
p{
    color: #b0b0b1;
    font-size: 14px;
    margin-bottom: 30px;
}
.whoweare-image{
    max-width: 30%;
    flex-basis: 30%;
}
.whoweare-image img{}

.whatwedo-section{
    background-color: #f7f8f8;
    background-image: url(../images/dobgimage.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    padding: 80px 0 120px;
}
.whatwedo-section .heading{}
.whatwedo-section .heading span{
    margin: auto;
}
.whatwedo-section .heading h1{
    text-align: center;
}

.whatwedo{
    max-width: 33.33%;
    flex-basis: 33.33%;
    padding: 0 10px;
}
.whatwedo-content{position: relative;}
.whatwedo-content span{
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700|Open+Sans:300,400,600,700&display=swap');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #616ca8;
    font-size: 14px;
}

.container{
    width: 1100px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.logo{
    max-width: 30%;
    flex-basis: 30%;
}
.logo a{
    font-family: 'monserat', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    color: #28377e;
}
img{
    max-width: 100%;
    flex-basis: 100%;
    max-height: 100%;
    display: block;
}

header{
    padding: 33px 0;
}
header .row{
    align-items: center;
}
nav{
    max-width: 70%;
    flex-basis: 70%;}
nav ul{
    justify-content: flex-end;
}
nav ul li{}
nav ul li a{
    color: #204f87;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    padding: 0 14px;
}
nav ul li a:hover{}


.banner_section{
    position: relative;
}
.banner_left{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}.godown{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
    font-size: 20px;
    color: #fff;
    animation-name: godown;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
    @keyframes godown{
    0%{
        bottom: 50px;
    }
    50%{
        bottom: 25px;
    }
    100%{
        bottom: 50px;
    }

}

.banner-content{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 800px;
    flex-basis: 800px;
    transform: translate(-50%, -50%);
    text-align: center;
}
.banner-content h1{
    font-size: 65px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
}

.whoweare-section .row{
    justify-content: space-between;
}
.whoweare-section{
    padding: 120px 0 200px;
}
.whoweare-content{
    max-width: 55%;
    flex-basis: 55%;
}
.heading{/* text-align: center; */margin-bottom: 70px;}
.heading h1{
    color: #204f87;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 20px;
    margin-top: 15px;
}
.heading span{
    width: 60px;
    height: 4px;
    background: #f2622c;
    display: block;
}
p{
    color: #b0b0b1;
    font-size: 14px;
    margin-bottom: 30px;
}
.whoweare-image{
    max-width: 30%;
    flex-basis: 30%;
}
.whoweare-image img{}

.whatwedo-section{
    background-color: #f7f8f8;
    background-image: url(../images/dobgimage.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    padding: 80px 0 120px;
}
.whatwedo-section .heading{}
.whatwedo-section .heading span{
    margin: auto;
}
.whatwedo-section .heading h1{
    justify-content: center;
}

.whatwedo{
    max-width: 33.33%;
    flex-basis: 33.33%;
    padding: 0 10px;
}
.whatwedo-content{
    position: relative;
}
.whatwedo-content span{
    width: 100%;
    height: 40;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition:all 0.5s;
    position: absolute;
    display: block;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2b2f85+0,2b2f85+100&0.18+21,0.97+100 */
background: -moz-linear-gradient(top,  rgba(43,47,133,0.18) 0%, rgba(43,47,133,0.18) 21%, rgba(43,47,133,0.97) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(43,47,133,0.18) 0%,rgba(43,47,133,0.18) 21%,rgba(43,47,133,0.97) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(43,47,133,0.18) 0%,rgba(43,47,133,0.18) 21%,rgba(43,47,133,0.97) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2b2f85', endColorstr='#f72b2f85',GradientType=0 ); /* IE6-9 */
}

.whatwedo-content:hover span{
    height: 100%;
    opacity: 1;
}
.whatwedo-content h2{
    color: #fff;
    font-size: 26px;
    text-transform: uppercase;
    position: absolute;
    top: 60%;
    width: 100%;
    text-align: center;
    z-index: 1;
    transform: translateY(-60px);
    transition:all 0.5s;
    opacity: 0;
}
.whatwedo-content img{
    width: 100%;
}

.whatwedo-content:hover h2{
    top: 50%;
    transform: translateY(-50px);
    opacity: 1;
}
.whatwedo-content a{
    position: absolute;
    bottom: 50px;
    left: 50%;
    font-size: 24px;
    color: #fff;
    z-index: 1;
    opacity: 0;
    transition: all 0.4s;
}
.whatwedo-content:hover .goright{
    left: 70%;
    opacity: 1;
}
.whatwedo-content img{
width: 100%;
}
.whatwedo-content a img{}
.attorny-section{
    background-image: url(../images/our-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 0;
}
.attorney-heading{
    max-width: 33.33%;
    flex-basis: 33.33%;
    padding: 10px;
    padding-right: 80px;
}
.attorney-heading .heading h1{
    color: #fff;
    max-width: 250px;
}
.linkmore{}
.attorneys{
    max-width: 66.66%;
    flex-basis: 66.66%;
    padding: 10px;
}
.atttorney{
    max-width: 50%;
    flex-basis: 50%;
    padding: 10px;
}
.attorney-details{
    position: relative;
}
.attorney-details img{
    width: 100%;
}
.attorney-details span{
    width: 100%;
    height: 50%;
    position: absolute;
    background-color: red;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.25, 0.1, 0.43, 0.98);
    background: -moz-linear-gradient(top, rgba(43,47,133,0.18) 0%, rgba(43,47,133,0.18) 21%, rgba(43,47,133,0.97) 100%);
    background: -webkit-linear-gradient(top, rgba(43,47,133,0.18) 0%,rgba(43,47,133,0.18) 21%,rgba(43,47,133,0.97) 100%);
    background: linear-gradient(to bottom, rgba(43,47,133,0.18) 0%,rgba(43,47,133,0.18) 21%,rgba(43,47,133,0.97) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2b2f85', endColorstr='#f72b2f85',GradientType=0 );
}
.attorney-details:hover span{
    height: 100%;
    opacity: 1;
}
.attorney-details h2{
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 35px;
    font-size: 24px;
    z-index: 1;
    opacity: 0;
    transition: all  0.4s cubic-bezier(0.25, 0.1, 0.43, 0.98);
}
.attorney-details:hover h2{
    bottom: 50px;
    opacity: 1;
}.clickmore{
    color: #f2622c;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.language-section{
    padding: 150px 0;
}
.language-section .heading span{
    margin: auto;
}
.language-section .heading{
    text-align: center;
}
.languages{
    max-width: 25%;
    flex-basis: 25%;
    padding: 30px 15px;
}
.languages h3{
    color: #28377e;
    font-size: 24px;
    text-transform: uppercase;
}
.languages p{}

footer{
    background-color: #28377e;
    padding-top: 100px;
}
footer .heading{}
footer .heading span{
    margin: auto;
}
footer .heading h1{color: #fff;text-align: center;}

footer .row{
    justify-content: center;
}
.contact{
    max-width: 50%;
    flex-basis: 50%;
    text-align: center;
    padding-bottom: 100px;
}
.contact input, .contact textarea{
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid transparent;
    padding: 10px;
    border-bottom: 1px solid #4759a7;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
}


.contact input[type="submit"]{

width: auto;

background: #f2622c;

border-bottom: 0;

padding: 15px 61px;

font-weight: 600;
}
.footer-bottom{
    background-color: #0c1234;
    padding: 50px 0;
}
.copyright{
    max-width: 50%;
    flex-basis: 50%;
}
.copyright p{
    margin: 0;
    color: #616ca8;
    font-size: 14px;
}
.social-link{
    max-width: 50%;
    flex-basis: 50%;
}
.social-link ul{
    justify-content: flex-end;
}
.social-link ul li{}
.social-link ul li a{
    display: block;
    margin-left: 15px;
}
.social-link ul li a:hover{}

::placeholder{
    color: #fff;
}
.contact input:focus,
.contact textarea:focus{
    outline: none;
    border: 1px solid #4759a7;
}


@media (max-width:1350px){
    .container{
        width: 1100px;
    }
}@media (max-width:1200px){
    .container{
        width: 1050px;
    }
}
@media (max-width:1100px){
    .container{
        width: 1000px;
    }
    nav{
        max-width: 60%;
        flex-basis: 60%;
    }
    .logo{
        max-width: 40%;
        flex-basis: 40%;
    }
    .banner-content h1 {
        font-size: 59px;
    }
}
@media (max-width:1000px){
    .container{
        width: 900px;
    }
    nav{
        max-width: 70%;
        flex-basis: 70%;
    }
    .logo{
        max-width: 30%;
        flex-basis: 30%;
    }
    .banner-content h1{
        font-size: 40px;
    }
    .whatwedo-section .heading{
    padding-bottom: 50px;
    }
}@media (max-width:900px){
    .container{
        width: 800px;
    }
    nav{
        max-width: 75%;
        flex-basis: 75%;
    }
    .logo{
        max-width: 25%;
        flex-basis: 25%;
    }
    .banner-content h1{
        font-size: 40px;
    }
    .whatwedo-section .heading{
    padding-bottom: 50px;
    }
}
@media (max-width:800px){
    .container{
        width: 700px;
    }
    .banner-content h1{
        font-size: 30px;
    }
    nav{
        max-width: 82%;
        flex-basis: 82%;
    }
    .logo{
        max-width: 18%;
        flex-basis: 18%;
    }

}
}@media (max-width:700px){
    .container{
        width: 600px;
    }
    .banner-content h1{
        font-size: 30px;
    }
    .logo{
        max-width: 18%;
        flex-basis: 18%;
    }
    nav{
        max-width: 82%;
        flex-basis: 82%;
    }

}
@media (max-width:600px){
    .container{
        width: 500px;
    }
    nav{
        max-width: 100%;
        flex-basis: 100%;
    }
    .logo{
        max-width: 100%;
        flex-basis: 100%;
    }
}
@media (500px){
    .container{
        width: 100%;
    }
}
